body {
    background-size: 100%;   /*根據圖片比例隨視窗大小變動*/
    /*background-color: darkblue;*/
}

div {
    backdrop-filter: blur(10px);
    text-align: center;
    min-height: 97vh;
    /*background-color: darkblue;*/
}

h1, h2, h3, caption {
    color: white;
}

table {
    border: 2px initial;
    margin-left: auto;   /*左右置中*/
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);   /*第四項為透明度*/
}

th, a, .res {
    font-size: 18px;
    color: black;
    padding: 10px;
    min-width: 24vh;
}

table.indexBgm {   /*首頁bgm*/
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 100;   /*移至第100層*/
    background-color: rgba(255, 255, 255, 0);
}td.indexBgm {
    width: auto;
    color: white;
}

td.opt {   /*playlist和quiz選項的表格*/
    max-width: 700px;
    width: 350px;
}

td.opt {   /*quiz選項格*/
    padding-top: 10px;
    padding-bottom: 10px;
}td.opt:hover {   /*同上*/
    background-color: rgba(250, 250, 210, 0.5);   /*lightgoldenrodyellow*/
}

 td.res {
     text-align: left;
 }

img {
    max-width: 100%;
}img.quizPic {
     height: 360px;
 }

button { /*一般按鈕*/
    width: 100px;
    height: 40px;
    border: hidden;
    background-color: lightblue;
    border-radius: 20px;
    z-index: 100;   /*移至第100層*/
}button:hover {   /*同上*/
    background-color: blue;
    color: white;
}

button.backButton {   /*回上頁按鈕*/
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0px;
}